<div class="page-area">
    <div class="container">
      <div class="row justify-content-center py-5">
          <div class="col-md-4 py-4 justify-content-center myReacForm" [ngClass]="formStatus" style="background-color: rgba(24, 22, 22, 0.5); box-shadow: 0 0 13px rgb(10, 9, 9); border-radius: 10px;" >
             <!--Form Group Starts here-->
            <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()" #formdata="ngForm">
              <h3 style="text-align: center;text-shadow: 1 1 13px black;"><b>Sign Up</b></h3>
              <div class="form-group pt-5 ">
                <input class="form-control form-control mt-4 " formControlName="fullname" placeholder="Full Name*" #uname>
                <small style="font-size: 11px; margin-left: 5px; color: red;"
                 *ngIf="!myReactiveForm.get('fullname').valid  && myReactiveForm.get('fullname').touched">Enter Full Name*
                </small>
              </div>
              <!-- for email control -->
              <div class="form-group ">
                <input class="form-control form-control" formControlName="email" placeholder="Email Address*">
                <small style="font-size: 12px; margin-left: 5px; color: red;"
                 *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">Enter Valid Email Id*
                </small> 
              </div> 
              <!-- for password control --> 
              <div class="form-group "> 
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="password" placeholder="Password*" type="password" #pass>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2" *ngIf ="isShow" (click)="showPassword(pass)">Show</button>
                    <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2" *ngIf ="!isShow" (click)="hidePassword(pass)">Hide&nbsp;</button>
                  </div>
                </div>
                <small style="font-size: 12px; margin-left: 5px; color: rgb(24, 245, 54);"><b>*Atleast 8 character long,Must have an Upper Case and an Integer*</b></small>
              </div>
              <!--Submit Button starts-->
              <button type="submit" class="btn btn-sm btn-primary ml-3" 
              [disabled]="formdata.invalid"

              (click)="submitForm(uname)" routerLink="">Sign up</button>
              <!--Submit Button ends-->
            </form>
            <!--Form Group ends here-->
            

          </div>
      </div>  
    </div>
  </div>


